body
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='/') barbara
      ul.nav.navbar-nav(data-hook='brews')
  .container
    main(data-hook='page-container')
